:root {
  --primary: #336699;

  --primary-green: #0081A8;
  --primary-green-dark: #005771;
  --primary-green-light: #5bb8d5;
  --primary-red: #FF5A5F;
  --primary-red-dark: #ba292e;
  --primary-red-light: #ffaaac;
  --bg-color: #fef5eb;
  --bg-color-50: #fdecd888;
  --card-color: hsl(35, 89%, 96%);
  --card-shadow: #eedbc5;
  --card-shadow-dark: #a99884;
  --neutral: #fdecd8;
  --white: #fff;
  --grey-light: #eee;
  --grey-medium: #999;
  --grey-dark: #454545;
  --black: #000;

  --bookworm-skin: #f6e0d3;
}
