:root {
  --primary: #336699;

  --primary-green: hsl(180, 100%, 33%);
  --primary-green-dark: hsl(180, 67%, 14%);
  --primary-red: hsl(30, 81%, 49%);
  --primary-red-dark: hsl(30, 100%, 31%);
  --bg-color: #fef5eb;
  --bg-color-50: #fdecd888;
  --card-color: hsl(35, 89%, 96%);
  --card-shadow: #eedbc5;
  --card-shadow-dark: #a99884;
  --neutral: #fdecd8;
  --white: #fff;
  --grey-light: #eee;
  --grey-medium: #999;
  --grey-dark: #454545;
  --black: #000;

  --bookworm-skin: #f6e0d3;
}
