:root {
  --primary: #336699;

  --primary-green: hsl(180, 100%, 33%);
  --primary-green-dark: hsl(180, 67%, 14%);
  --primary-red: hsl(16, 69%, 51%);
  --primary-red-dark: hsl(16, 75%, 25%);
  --bg-color: #fef5eb;
  --bg-color-50: #fdecd888;
  --card-color: #fef7ed;
  --card-shadow: #eedbc5;
  --card-shadow-dark: #c9b6a1;
  --neutral: #fdecd8;
  --white: #fff;
  --grey-light: #eee;
  --grey-medium: #999;
  --grey-dark: #454545;
  --black: #000;
}
